.app__info__container {
  margin-top: 25rem;
  display: flex;
  align-items: center;
  padding: 0 17%;
  justify-content: space-between;
  overflow: hidden !important;
}

.app_info_text {
  width: 50%;
  overflow: hidden !important;
}

.app__info_text h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 48px;
  padding: 5rem 0;
}

.app__info_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  width: 60%;
  padding-bottom: 3rem;
}

.app__info_content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 75%;
  padding-bottom: 5rem;
}

.app__info_img {
  position: relative;
}

.app__info_circle {
  background: #d55f5f;
  width: 517px;
  height: 517px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  bottom: 5%;
  left: -28%;
}

.app__info_phone {
  z-index: 1;
}

.app__info_text h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}

/* ----------------------DESKTOP VIEW (13inches---------------------------------- */

@media screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .app__info__container {
    margin-top: 15rem;
    padding: 0 10%;
  }

  .app_info_text {
    width: 50%;
  }

  .app__info_text h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    padding: 3rem 0;
  }

  .app__info_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    width: 60%;
    padding-bottom: 3rem;
  }

  .app__info_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 75%;
    padding-bottom: 5rem;
  }

  .app__info_img {
    position: relative;
  }

  .app__info_img img {
    width: 25rem;
    height: 48rem;
  }

  .app__info_circle {
    background: #d55f5f;
    width: 387px;
    height: 387px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: -35%;
  }

  .app__info_phone {
    z-index: 1;
  }

  .app__info_text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }

  .app__info2__container {
    margin-top: 15rem;
    padding: 5rem 5% 5rem 10%;
    background: #e6efeb;
  }

  .app__info2_text {
    width: 50%;
  }

  .app__info2_text h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    padding: 3rem 0;
  }

  .app__info2_heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    width: 60%;
    padding-bottom: 3rem;
  }

  .app__info2_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 75%;
    padding-bottom: 5rem;
  }

  .app__info2_text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }
}

/* ---------------------------MOBILE VIEW---------------------------------------- */

@media screen and (max-width: 480px) {
  .app__info__container {
    margin-top: 3rem;
    display: block;
    align-items: center;
    padding: 0 5%;
    overflow: hidden !important;
  }

  .app_info_text {
    width: 90%;
    overflow: hidden !important;
  }

  .app__info_text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    padding: 2rem 0;
    text-align: center;
  }

  .app__info_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
  }

  .app__info_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
  }

  .app__info_img {
    position: relative;
    padding-top: 4rem;
    display: none;
  }

  .app__info_img img {
    width: 15rem;
    height: 28rem;
    margin-left: 11rem;
  }

  .app__info_circle {
    background: #d55f5f;
    width: 232px;
    height: 237px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: 16.5%;
  }

  .app__info_phone {
    z-index: 1;
  }

  .app__info_text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .app__info__container {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }

  .app__info_text {
    order: 1;
    width: 100%;
  }

  .app__info_text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .app__info_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
  }

  .app__info_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
  }

  /* .app__info2_img {
    order: 2;
  } */

  /* .app__info2_img img {
    width: 15rem;
    height: 28rem;
    margin-top: 3rem;
  } */
}
